main{
    display: flex;
    width: 100%;
    
  }
  article{
    width: 300px;
    height: 400px;
    background-color: #ddd;
  }
.sidebar {
  width: 300px;
  height: 100vh;
  background-color: var(--whiteSoft);
  border-right: 1px solid #ddd;
  padding: 15px 10px;
  overflow-y: auto; 
  scrollbar-width: thin; 
  scrollbar-color: var(--greenEsmerald) #f0f0f0;
}

/* Lista */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar li{
  margin-bottom: 1.1em;
}


/* Botões */
.sidebar input[type="button"] {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  font-family: "Poppins";
  color: var(--blackSoft);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.sidebar input[type="button"]:hover {
  background-color: var(--yellow);
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-weight: bolder;
  padding: 12px;
}

.containerLivros{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
     padding: 15px 0px; 

}
.containerLivros ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 30px;

}

@media (max-width: 800px) {
  .sidebar {
    width: 100%;
    height: 100px;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .sidebar ul {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .sidebar li {
    margin-bottom: -10px;
  }
  main{
    flex-direction: column;
  }
}
