header {
  background-color: var(--greenEsmerald);
  padding: 10px;
  width: 100%;
  position: fixed;
}

.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.containerHeader span {
  font-size: 1.5em;
  font-family: 'Poppins';
  color: white;
  text-align: center;
  transition:0.3s ease;
  cursor: pointer;
}
.containerHeader span:hover {
  color: var(--yellow);
  font-size: 1.8em;
}
.containerHeader img{
  width: 60px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  max-width: 1400px;
}
article {
  width: 300px;
  height: 400px;
  background-color: #ddd;
}

/* Lista */

.search-filter{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.books-list {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 15px 0px;
}
.books-list ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 800px) {
  .containerHeader span{
    display: none;
  }
  .containerHeader{
    justify-content: space-between;
  }
  .sidebar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar ul {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;
  }
  main {
    flex-direction: column;
  }
}
