header {
  display: flex;
  align-self: center;
  justify-content: space-between;
  background-color: var(--greenEsmerald);
  padding: 10px;
  width: 100%;
}
.containerSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  gap: 5px;
}
.inputSearch {
  padding: 10px;
  height: 40px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 1.2em;
}
.btnSearch {
  height: 41px;
  width: 60px;
  padding: 10px;
  background-image: url("../../assets/Search.svg");
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  background-color: var(--yellow);
  border-radius: 10px;
  cursor: pointer;
}
