.containerSearch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 800px;
  gap: 5px;
  
}
.inputSearch {
  padding: 10px;
  height: 40px;
  max-width: 800px;
  min-width: 200px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 8px;
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 1.2em;
  background-color: var(--backColor);
}
.btnSearch {
  height: 41px;
  width: 60px;
  min-width: 40px;
  padding: 10px;
  background-image: url("../../assets/Search.svg");
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  background-color: var(--yellow);
 border-radius: 8px;
  cursor: pointer;
  transition-duration:0.5s ;
}
